<div class="row">
	<div class="col-md-3">
	<select class="form-control" ng-model="nbGUID" ng-change="changeNB(nbGUID)" ng-options="nb.guid as nb.name for nb in notebooks">
   	</select>
   	</div>
</div>
<div class="row">
	
	<div class="col-md-3" ng-repeat="note in notes">
		<div class="bm-container" style="float:left;">
			<a href="{{note.url}}" style="float: left; padding-right: 5px;"><img src="{{ note.img }}" style="max-width: 16px;" title="{{note.content}}" /></a>
			<span class="bm-title"><a href="{{note.url}}">{{ note.title }}</a></span>
		</div>
		<div style="clear:left;"></div>
	 </div>
 </div>
